<div class="container ">
  <div class="text-center">
    <p>{{title}}</p>
  </div>
  <table class=" table table-hover">
    <thead>
      <th>Ten</th>
      <th>tuổi</th>
      <th>SDT</th>
      <th>Email</th>
      <th>Avatar</th>
      <th>action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of student">
        <td>{{item.name}}</td>
        <td>{{item.age}}</td>
        <td>{{item.phone}}</td>
        <td>{{item.email}}</td>
        <td> <img [src]="item.avatar"
            height="100px"
            width="100px"
            alt=""> </td>
        <td><button (click)="handlerRemove(item.id)"
            class="btn btn-danger"
            style=" background-color: brown; ">delete</button> </td>
      </tr>
    </tbody>
  </table>

  <br>

  <div class="text-center">
    <p>bảng user</p>
  </div>
  <p *ngIf="error"> cân nặng nhỏ ko được xoá </p>
  <table class="table table-hover">
    <thead>
      <th>id</th>
      <th>ten</th>
      <th>chiều cao</th>
      <th>cân nặng</th>
      <th>Avatar</th>
      <th>action</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of user">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.chieuCao}}</td>
        <td>{{item.canNang}}</td>
        <td> <img [src]="item.avatar"
            height="100px"
            width="100px"
            alt=""> </td>
        <td><button (click)="handlerRemoveUser(item.id, item.canNang)"
            class="btn btn-danger"
            style=" background-color: brown; ">delete</button> </td>
      </tr>
    </tbody>
  </table>
</div>